.sidebar-container {
  height: 100%;
  margin-top: 4rem;
  position: fixed;
  top: 0;
  width: 18rem;
}

.logo-container {
  align-items: center;
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.logo {
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 1rem;
  height: 6rem;
  text-align: center;
  width: 11rem;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav li {
  height: 2.8rem;
  list-style: none;
}

.nav a {
  color: #a9a7a7;
  font-weight: bold;
  padding: 0.6rem 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-left: 3px solid transparent;
}

.nav a:hover {
  color: #000;
}

.nav a:active,
.nav a.active {
  color: #000;
  border-left: 3px solid #f6c51b;
}

.icon {
  font-size: 1.6rem;
  padding-right: 1.5rem;
  padding-left: 0;
}
