@font-face {
  font-family: "TTInterfaces-Regular";
  src: url(./assets/fonts/ttinterfaces/TTInterfaces-Regular.ttf)
    format("truetype");
}

@font-face {
  font-family: "TTInterfaces-Bold";
  src: url(./assets/fonts/ttinterfaces/TTInterfaces-Bold.ttf) format("truetype");
}

body {
  color: #000;
  height: 100vh;
  font-family: "TTInterfaces-Regular";
  margin: 0;
}

#root {
  height: 100%;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: #f6c51b;
  border-radius: 1.5rem;
  box-shadow: 0 0 0.5rem rgba(187, 186, 186, 0.993);
  color: #fff;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  height: 1.2rem;
}

.btn:hover,
.btn:active {
  background-color: #fceebd;
  color: #f6c51b;
}

.centered {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 3rem auto;
  text-align: center;
}
