@font-face {
  font-family: 'Rubik-Regular';
  src: url(./assets/fonts/Rubik/Rubik-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url(./assets/fonts/Rubik/Rubik-Bold.ttf) format('truetype');
}

body {
  color: #000;
  height: 100vh;
  font-family: 'Rubik-Regular';
  margin: 0;
}


#root {
  height: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}